In [2]:
#All package Imports
# import kagglehub as kh
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
%matplotlib inline

sns.set_theme()

In [ ]:
#Download latest dataset from kaggle
#Run this only once
path = kh.dataset_download("valakhorasani/mobile-device-usage-and-user-behavior-dataset")
print("Path to dataset files:", path)

In [ ]:
#Read Data
df = pd.read_csv('user_behavior_dataset.csv')
df.head()

# df.drop(['0'], axis=1)
# df.head()
df

<bound method DataFrame.info of      User ID        Device Model Operating System  App Usage Time (min/day)  \
0          1      Google Pixel 5          Android                       393
1          2           OnePlus 9          Android                       268
2          3        Xiaomi Mi 11          Android                       154
3          4      Google Pixel 5          Android                       239
4          5           iPhone 12              iOS                       187
..       ...                 ...              ...                       ...
695      696           iPhone 12              iOS                        92
696      697        Xiaomi Mi 11          Android                       316
697      698      Google Pixel 5          Android                        99
698      699  Samsung Galaxy S21          Android                        62
699      700           OnePlus 9          Android                       212

     Screen On Time (hours/day)  Battery Drain (mAh/day)  \
0                           6.4                     1872
1                           4.7                     1331
2                           4.0                      761
3                           4.8                     1676
4                           4.3                     1367
..                          ...                      ...
695                         3.9                     1082
696                         6.8                     1965
697                         3.1                      942
698                         1.7                      431
699                         5.4                     1306

     Number of Apps Installed  Data Usage (MB/day)  Age  Gender  \
0                          67                 1122   40    Male
1                          42                  944   47  Female
2                          32                  322   42    Male
3                          56                  871   20    Male
4                          58                  988   31  Female
..                        ...                  ...  ...     ...
695                        26                  381   22    Male
696                        68                 1201   59    Male
697                        22                  457   50  Female
698                        13                  224   44    Male
699                        49                  828   23  Female

     User Behavior Class
0                      4
1                      3
2                      2
3                      3
4                      3
..                   ...
695                    2
696                    4
697                    2
698                    1
699                    3

[700 rows x 11 columns]>

In [ ]:
#Describe data
df.describe()

In [ ]:
#Data info
df.info()

In [ ]:
#Dataset number of records and columns
df.shape

(700, 11)

In [ ]:
#Check for null values
df.isnull().sum()

In [ ]:
#check for duplicates
df.duplicated().sum()

In [6]:
#Select relevant dataset properties 
#Important to use single quotes and double [[]] brackets
df_select = df[['User ID', 'App Usage Time (min/day)', 'Screen On Time (hours/day)', 'Number of Apps Installed']]
df_select.head()

,User ID,App Usage Time (min/day),Screen On Time (hours/day),Number of Apps Installed
0,1,393,6.4,67
1,2,268,4.7,42
2,3,154,4.0,32
3,4,239,4.8,56
4,5,187,4.3,58

In [18]:
# Analyzing Selected Features
df_select = df_select.rename( columns = {'App Usage Time (min/day)':'Usage_Time','Screen On Time (hours/day)':'Screen_Ontime', 'Number of Apps Installed':'No_Apps'})

# fig, axes = plt.subplots(nrows=2, ncols=3, figsize=(15, 12))
# axes = axes.flatten()

# for i, col in enumerate(df_select):
#     sns.histplot(df[col], ax=axes[i], kde=True, color='green')
#     axes[i].set_title(col)
#     axes[i].set_xlabel(" ".join(str(col).split(" ")[-2:]))

# plt.tight_layout()
# plt.show()

df_select.head()

   ID  Usage_Time  Screen_Ontime  No_Apps
0   1         393            6.4       67
1   2         268            4.7       42
2   3         154            4.0       32
3   4         239            4.8       56
4   5         187            4.3       58