In [11]:
import kagglehub as kh
import pandas as pd

In [ ]:
# Download latest version
path = kh.dataset_download("valakhorasani/mobile-device-usage-and-user-behavior-dataset")
print("Path to dataset files:", path)

In [6]:

data_mob = pd.read_csv('user_behavior_dataset.csv')
data_mob.head()

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class
0,1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4
1,2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3
2,3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2
3,4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3
4,5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3

In [ ]:
# Download latest version
path = kh.dataset_download("thedevastator/online-shopping-consumer-behavior-dataset")

print("Path to dataset files:", path)

Encoding
- csv files should have UTF-8 encoding or else I get an error
- UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc2 in position 882: invalid continuation byte

In [2]:
#Detect file encoding using the charset_normalizer package
from charset_normalizer import detect

with open("orders.csv", "rb") as f:
    raw_data = f.read()
    result = detect(raw_data)
    
    # Outputs detected encoding
    print(result)

{'encoding': 'windows-1250', 'language': 'English', 'confidence': 0.9951666666666666}

In [ ]:
path =  'E:/OneDrive-hs-augsburg.de/augsburg/5_semester/kurse/data-science/project/orders.csv'
df = pd.read_csv(path, encoding='windows-1250')
# df.to_csv(path, encoding='utf-8')

df.head()

,ROWID,ORDERID,ORDERDATE,ORDERPRIOTORITY,ORDERQUANTITY,SALES,DISCOUNT,SHIPMODE,PROFIT,UNITPRICE,...,PROVINCE,REGION,CUSTOMERSEGMENT,PRODUCTCATEGORY,PRODUCTSUBCATEGORY,PRODUCTNAME,PRODUCTCONTAINER,PRODUCTBASEMARGIN,SHIPDATE,DATASET
0,1,3,10/13/10,Low,6,261.5400,0.04,Regular Air,-213.25,38.94,...,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,10/20/10,Superstore
1,49,293,10/1/12,High,49,10123.0200,0.07,Delivery Truck,457.81,208.16,...,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,10/2/12,Superstore
2,50,293,10/1/12,High,27,244.5700,0.01,Regular Air,46.71,8.69,...,Nunavut,Nunavut,Consumer,Office Supplies,Binders and Binder Accessories,"Cardinal Slant-DÂ Ring Binder, Heavy Gauge Vinyl",Small Box,0.39,10/3/12,Superstore
3,80,483,7/10/11,High,30,4965.7595,0.08,Regular Air,1198.97,195.99,...,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,R380,Small Box,0.58,7/12/11,Superstore
4,85,515,8/28/10,Not Specified,19,394.2700,0.08,Regular Air,30.94,21.78,...,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,Holmes HEPA Air Purifier,Medium Box,0.50,8/30/10,Superstore

In [ ]:
# path =  'E:/OneDrive-hs-augsburg.de/augsburg/5_semester/kurse/data-science/project/crop_recommendation.csv'
# https://www.kaggle.com/datasets/bytadit/transactional-ecommerce

df = pd.read_csv('E:/OneDrive-hs-augsburg.de/augsburg/5_semester/kurse/data-science/project/time_wasters_on_social_media.csv')

df.head()

,UserID,Age,Gender,Location,Income,Debt,Owns Property,Profession,Demographics,Platform,...,ProductivityLoss,Satisfaction,Watch Reason,DeviceType,OS,Watch Time,Self Control,Addiction Level,CurrentActivity,ConnectionType
0,1,56,Male,Pakistan,82812,True,True,Engineer,Rural,Instagram,...,3,7,Procrastination,Smartphone,Android,9:00 PM,5,5,Commuting,Mobile Data
1,2,46,Female,Mexico,27999,False,True,Artist,Urban,Instagram,...,5,5,Habit,Computer,Android,5:00 PM,7,3,At school,Wi-Fi
2,3,32,Female,United States,42436,False,True,Engineer,Rural,Facebook,...,6,4,Entertainment,Tablet,Android,2:00 PM,8,2,At home,Mobile Data
3,4,60,Male,Barzil,62963,True,False,Waiting staff,Rural,YouTube,...,3,7,Habit,Smartphone,Android,9:00 PM,5,5,Commuting,Mobile Data
4,5,25,Male,Pakistan,22096,False,True,Manager,Urban,TikTok,...,8,2,Boredom,Smartphone,iOS,8:00 AM,10,0,At home,Mobile Data

In [ ]:
df.describe()
df.info()

Extra dataset type to look at https://github.com/aliannejadi/LSApp/blob/main/data_prep.ipynb